/* Home Page */

*{
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #F7ECDE;
}

img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10%;
}

ul{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 0;
}

li{
    list-style: none;
    /* padding: 3% 0%; */
    font-size: larger;
    font-weight: bold;
    flex: 1;
}

a{
    text-decoration: none;
}

.heading{
    font-size: 3rem;
    color:#7C99AC;
    letter-spacing: 5px;

}